 <% layout("/layouts/boilerplate") %>
<h2>All Users</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>

    <% for(let user of users) { %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td>
                <form action="/admin/users/<%= user._id %>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </td>
        </tr>
    <% } %>
</table>
