<%layout("/layouts/boilerplate")%>

<div class="row mt-3">
        <div class="col-8 offset-2">
            
            <h3>Create new job</h3>
            
    <form method="POST" action="/job/new" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="job[title]" placeholder="Add a title" type="text" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="job[description]" placeholder="Enter description" class="form-control"  required></textarea>
        </div>
        <div class="mb-3">
            <label for="position" class="form-label">position</label>
            <input name="job[position]" placeholder="Enter position" type="text" class="form-control">
        </div>
        <div class="row">
            <div class="mb-3 col-4">
            <label for="company" class="form-label">company</label>
            <input name="job[company]" placeholder="job company" type="text" class="form-control" required>
        </div>
        
        <div class="mb-3 col-8">
            <label for="type" class="form-label">type</label>
            <select name="role" id="role" class="form-select" placeholder="select your role" required>
                <option value="student">Full-Time</option>
                <option value="alumni">Internship</option>
                <option value="student">Contract</option>
                <option value="alumni">Part-Time</option>
            </select>          
        </div>
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="job[location]" placeholder="Delhi"type="text" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="skills" class="form-label">skills</label>
            <input name="job[skills]" placeholder="skills"type="text" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="apply" class="form-label">Apply Link</label>
            <input name="job[applyLink]" placeholder="Enter Apply Link" type="text" class="form-control">
        </div>
       
        <button class="btn btn-dark add-btn mt-3" >Add</button>
        <br><br>
    </form>
    </div>
    </div>
